# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.vscode/
.idea/

# Logs / cache
*.log
.cache/

# Generated Isaac assets
assets/usd/generated/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# ML checkpoints
*.pt
*.pth
*.ckpt
*.onnx

# OS
.DS_Store
Thumbs.db
